<tr key="{{gap}}">
    <td></td>
    <td>
        <div class="inputDate">
            <div class="inputWithIconLogin inputIconBg">
                <input type="text" id="new-date-item-{{emptyGap}}" class ="date" required>
                <i class="fa fa-calendar fa-lg fa-fw" aria-hidden="true"></i>
            </div>
        </div>
    </td>

    <td>
        <div class="inputTime">
            <div class="inputWithIconLogin inputIconBg">
                <input type="text" id="new-timeStart-item-{{emptyGap}}" class="timeStart" required>
                <i class="fa fa-clock-o fa-lg fa-fw" aria-hidden="true"></i>
            </div>
        </div>
    </td>

    <td>
        <div class="inputTime">
            <div class="inputWithIconLogin inputIconBg">
                <input type="text" id="new-timeEnd-item-{{emptyGap}}" class="timeEnd" required>
                <i class="fa fa-clock-o fa-lg fa-fw" aria-hidden="true"></i>    
            </div>
        </div>
    </td>

    <td>
        <button type="button" class="delrow-item btn btn-danger" item="{{emptyGap}}">-</button>
    </td>
</tr>