
<tr key="{{id}}">
  <td><a href="#view-poll?link={{link}}">{{title}}</a></td>
  <td>{{ubication}}</td>
  <td> 
    {{#if_eq user.currentUser author}}
      {{i18n 'You'}}
    {{else}}
      {{author}}
    {{/if_eq}}
  </td>
  <td>
    {{#if_eq user.currentUser author}}
      <a class="editPoll"><span item="{{link}}" title="{{i18n 'Edit Poll'}}" class="btn btn-primary btn-sm fa fa-pencil"></span></a>&nbsp;&nbsp;
      <a class="editGaps"><span item="{{link}}" title="{{i18n 'Edit Gaps'}}" class="btn btn-success btn-sm fa fa-th-list"></span></a>&nbsp;&nbsp;

      <i title="{{i18n 'Delete Poll'}}" class="btn btn-danger btn-sm fa fa-trash" data-toggle="modal" data-target="#deleteModal"></i>
        <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="deleteModalLabel">{{i18n 'Attention'}}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                 {{i18n 'Are you sure you want to delete the poll'}} <b><strong>{{title}}</strong></b> {{i18n '?'}}<br><br>
                  <b><strong>{{i18n 'The information that this poll has will be lost'}}</strong></b>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{i18n 'Cancel'}}</button>
                <button  id="deletePoll" item="{{link}}" type="button" class="btn btn-success success" data-dismiss="modal">{{i18n 'OK'}}</button> 
                <!--
                <a><span class="btn btn-default" data-dismiss="modal">{{i18n 'Cancel'}}</span></a>
                <a class="deletePoll"><span item="{{link}}" class="btn btn-success success"> {{i18n 'OK'}}</span></a>&nbsp;&nbsp;
                -->
              </div>
            </div>
          </div>
        </div>




{{!-- <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> --}}



 
    {{/if_eq}}
  </td>
</tr>
